<div class="container">
  <div class="publish-comment">

  <%= form_with model: @comment, class:"form", local: true do |form| %>

    <p>Publier le commentaire ?</p>

    <div class="form-inline">

      <%= form.label :published, "Publier" %>

      <%= form.check_box :published %>

    </div>

    <%= form.submit "Envoyer" %>

    </div>

    <button class="btn-back-white"><%= link_to 'Supprimer le commentaire', comment_path(@comment), method: :delete, data: {confirm: "Êtes-vous sûr ?"} %></button>

  <% end %>

  <button class="btn-back-white"><%= link_to "Retour aux commentaires", comments_path %></button>

</div>
