<div class="container">
  <%= form_with model: @article do |form| %>

    <%= form.text_field :title %>

    <%= form.rich_text_area :content %>

    <%= form.collection_select :category_id, @categories, :id, :name %>

    <%= form.submit "Sauvegarder les changements", class:"btn btn-devise" %>

  <% end %>
</div>
