<script>
  window.onload = function() {
    var previous = document.getElementsByClassName("previous_page");
    var next = document.getElementsByClassName("next_page");
    previous[0].innerHTML = "← Précédent";
    next[0].innerHTML = "Suivant →";
  };
</script>



<div class="container">

  <% if Article.count == 0 %>
    <p>Il n'y a pas encore d'articles.</p>
  <% end %>

  <% @articles.each do |article| %>

    <div class="article-index">
      <div class="article-title">
        <h3><%= article.title %></h3>
      </div>

      <div class="article-extract">
        <div class="extract-text">
          <p><%= article.content.body.to_plain_text.split(" ")[0..50].join(" ").gsub(/\[.*?\]/, "")... %></p>
        </div>
        <div class="extract-link">
          <p><%= link_to "Lire la suite", category_article_path(article.category, article) %></p>
        </div>
      </div>

      <div class="article-info-extract">
        <p><%= link_to article.category.name, category_path(article.category) %></p>
        <p><%= article.created_at.day %>/<%= article.created_at.month %>/<%= article.created_at.year %></p>
      </div>

    </div>
  <% end %>

  <div class="flickr_pagination">
    <%= will_paginate @articles %>
  </div>

</div>
