<div class="container">
  <h3>Ecrire un article</h3>

  <%= form_with model: @article do |form| %>

    <%= form.label "Titre" %>

    <%= form.text_field :title %>

    <%= form.label "Contenu" %>

    <%= form.rich_text_area :content %>

<div class="category_select">

    <%= form.label "Choisir une catégorie" %>

    <%= form.collection_select :category_id, @categories, :id, :name %>

</div>
    <%= form.submit "Publier l'article", class:"btn btn-devise" %>

  <% end %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
        <p><%= I18n.t("errors.messages.not_saved",
                   count: @article.errors.count,
                   resource: @article.class.model_name.human.downcase)
         %></p>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
