<script>
  $(document).ready (function() {
    console.log("ready");
    var toggle = document.getElementById('commenttoggle');
    toggle.onclick = function() {
      console.log("click");
      var comment = document.getElementById('comment-each');
      comment.classList.toggle("comment-each-hide");
      var commentsShow = document.getElementById('comments-show');
      commentsShow.classList.toggle("comment-each-hide");
      var commentsHide = document.getElementById('comments-hide');
      commentsHide.classList.toggle("comment-each-hide");
    };
  });
</script>

<div class="container">
  <div class="article-index">
    <div class="article-title">
      <h3><%= @article.title %></h3>
    </div>
    <div class="article-content">
      <%= @article.content %>
    </div>
    <div class="article-info">
      <p><%= link_to @article.category.name, category_path(@article.category) %></p>
      <p><%= @article.created_at.day %>/<%= @article.created_at.month %>/<%= @article.created_at.year %></p>
    </div>

    <div class="article-comments">
      <% if @article.comments.present? %>
        <div class="read-comments">
          <p id="commenttoggle" >Lire les <%= @article.comments.where(published: true).count %> commentaire(s) <i class="fas fa-sort-down" id="comments-show"></i><i class="fas fa-sort-up comment-each-hide" id="comments-hide"></i></p>
        </div>

        <div class="comment-each-hide" id="comment-each">
          <% @article.comments.each do |comment| %>
            <% if comment.published? %>
              <div class="comment-container">
                <div class="comment-up">
                  <p class="comment-user"><%= comment.user.username %></p>
                </div>
                <div class="comment-down">
                  <div class="comment-content">
                    <p><%= comment.content %></p>
                    <!-- <p class="btn btn-answer" id="button-answer"> Répondre </p> -->
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
      <%= render 'layouts/comment-form' %>
  </div>
  <div class="back-buttons">
    <button class="btn btn-back-grey"><%= link_to "Retour à la catégorie #{@article.category.name}", category_path(@article.category) %></button>
    <button class="btn btn-back-white"><%= link_to "Retour à l'accueil", root_path %></button>
  </div>
</div>
