<script>
  $(document).ready (function() {
    console.log("ready");
    var toggle = document.getElementById('commenttoggle');
    toggle.onclick = function() {
      console.log("click");
      var comment = document.getElementById('comment-each');
      comment.classList.toggle("comment-each-hide");
      var commentsShow = document.getElementById('comments-show');
      commentsShow.classList.toggle("comment-each-hide");
      var commentsHide = document.getElementById('comments-hide');
      commentsHide.classList.toggle("comment-each-hide");
    };
  });
</script>

<div class="container">
  <div class="article-index">
    <div class="article-title">
      <h3><%= @article.title %></h3>
    </div>
    <div class="article-content">
      <%= @article.content %>
    </div>
    <div class="article-info">
      <p><%= link_to @article.category.name, category_path(@article.category) %></p>
      <p><%= @article.created_at.day %>/<%= @article.created_at.month %>/<%= @article.created_at.year %></p>
    </div>

    <div class="article-comments">
      <% if @article.comments.present? %>
        <div class="read-comments">
          <p id="commenttoggle" >Lire les <%= @article.comments.where(published: true).count %> commentaire(s) <i class="fas fa-sort-down" id="comments-show"></i><i class="fas fa-sort-up comment-each-hide" id="comments-hide"></i></p>
        </div>

        <div class="comment-each-hide" id="comment-each">
          <% @article.comments.each do |comment| %>
            <% if comment.published? %>
              <div class="comment-container">
                <div class="comment-up">
                  <p class="comment-user"><%= comment.user.username %></p>
                </div>
                <div class="comment-down">
                  <div class="comment-content">
                    <p><%= comment.content %></p>
                    <!-- <p class="btn btn-answer" id="button-answer"> Répondre </p> -->
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
      <%= render 'layouts/comment-form' %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <div class="comment-buttons">

        <button class="btn btn-back-grey"><%= link_to "Modifier l'article", edit_category_article_path(@article.category, @article) %></button>
        <button class="btn btn-back-white"><%= link_to "Supprimer l'article", article_path(@article), method: :delete, data: {confirm: "Êtes-vous sûr ?"} %></button>

      </div>
    <% end %>
  <% end %>
  <div class="back-buttons">
    <button class="btn btn-back-grey"><%= link_to "Retour à la catégorie #{@article.category.name}", category_path(@article.category) %></button>
    <button class="btn btn-back-white"><%= link_to "Retour à l'accueil", root_path %></button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">S'inscrire</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'devise/registrations/newregistration' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-back-grey" data-bs-toggle="modal" data-bs-target="#loginModal">
            Se connecter
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Se connecter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'devise/sessions/newsession' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-back-white" data-bs-toggle="modal" data-bs-target="#signupModal">
            S'inscrire
          </button>
          <button type="button" class="btn btn-back-grey" data-bs-toggle="modal" data-bs-target="#passwordModal">
            Mot de passe oublié ?
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordModalLabel">Oubli du mot de passe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'devise/passwords/newpassword' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-back-white" data-bs-toggle="modal" data-bs-target="#signupModal">
            S'inscrire
          </button>
          <button type="button" class="btn btn-back-grey" data-bs-toggle="modal" data-bs-target="#loginModal">
            Se connecter
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
