


<div class="container">
  <div class="article-index">
    <div class="article-title">
      <h3><%= @article.title %></h3>
    </div>

    <%= @article.content %>

    <div class="article-info">
      <p><%= link_to @article.category.name, category_path(@article.category) %></p>
      <p><%= @article.created_at %></p>
    </div>

    <div class="article-comments">
      <% if @article.comments.present? %>
        <p>Lire les <%= @article.comments.count() %> commentaire(s) <i class="fas fa-sort-down"></i></p>

        <% @article.comments.each do |comment| %>

          <div class="comment-container" id="comment-<%= comment.id %>">
            <div class="comment-up">
              <p class="comment-user"><%= comment.user.username %></p>
            </div>
            <div class="comment-down">
              <div class="comment-content">
                <p><%= comment.content %> <%= comment.id %></p>
                <!-- <p class="btn btn-answer" id="button-answer"> Répondre </p> -->
              </div>
            </div>

          </div>
        <% end %>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-comment" data-bs-toggle="modal" data-bs-target="#comment-articleModal">
        Ajouter un commentaire
        </button>

        <!-- Modal -->
        <div class="modal fade" id="comment-articleModal" tabindex="-1" aria-labelledby="comment-articleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Ajouter un commentaire à l'article n° <%= @article.id %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= render 'layouts/comment-form' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', category_articles_path %>
</div>
