<script>
  window.onload = function() {
    var toggle = document.getElementById('commenttoggle');
    toggle.onclick = function() {
      var comment = document.getElementById('comment-each');
      comment.classList.toggle("comment-each-hide");
      var commentsShow = document.getElementById('comments-show');
      commentsShow.classList.toggle("comment-each-hide");
      var commentsHide = document.getElementById('comments-hide');
      commentsHide.classList.toggle("comment-each-hide");
    };
  };
</script>


<div class="container">
  <div class="article-index">
    <div class="article-title">
      <h3><%= @article.title %></h3>
    </div>
    <div class="article-content">
      <%= @article.content %>
    </div>
    <div class="article-info">
      <p><%= link_to @article.category.name, category_path(@article.category) %></p>
      <p><%= @article.created_at.day %>/<%= @article.created_at.month %>/<%= @article.created_at.year %></p>
    </div>

    <div class="article-comments">
      <% if @article.comments.present? %>
        <div class="read-comments">
          <p id="commenttoggle" >Lire les <%= @article.comments.count() %> commentaire(s) <i class="fas fa-sort-down" id="comments-show"></i><i class="fas fa-sort-up comment-each-hide" id="comments-hide"></i></p>
        </div>

        <div class="comment-each-hide" id="comment-each">
          <% @article.comments.each do |comment| %>

            <div class="comment-container">
              <div class="comment-up">
                <p class="comment-user"><%= comment.user.username %></p>
              </div>
              <div class="comment-down">
                <div class="comment-content">
                  <p><%= comment.content %></p>
                  <!-- <p class="btn btn-answer" id="button-answer"> Répondre </p> -->
                </div>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-comment" data-bs-toggle="modal" data-bs-target="#comment-articleModal">
      Ajouter un commentaire
      </button>

      <!-- Modal -->
      <div class="modal fade" id="comment-articleModal" tabindex="-1" aria-labelledby="comment-articleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="commentModalLabel">Ajouter un commentaire</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render 'layouts/comment-form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="back-buttons">
    <button class="btn btn-back-grey"><%= link_to "Retour à la catégorie #{@article.category.name}", category_path(@article.category) %></button>
    <button class="btn btn-back-white"><%= link_to "Retour à l'accueil", root_path %></button>
  </div>
</div>
