<div class="container">
  <h3>Ajouter une lecture</h3>

  <%= form_with model: @book, class: "book-form" do |form| %>

  <div class="book-title">
    <%= form.label "Titre"  %>
    <%= form.rich_text_area :title %>
  </div>

  <div class="book-description">
    <%= form.label "Contenu" %>
    <%= form.rich_text_area :description %>
  </div>
  
    <%= form.submit "Publier la lecture", id:"submit-code" %>

  <% end %>

</div>
