<div class="container">
  <h3>Ajouter une lecture</h3>

  <%= form_with model: @book, class: "book-form" do |form| %>

    <%= form.label "Titre"  %>
    <%= form.text_field :title %>

    <%= form.label "Contenu" %>
    <%= form.rich_text_area :description %>

    <%= form.submit "Publier la lecture", id:"submit-code" %>

  <% end %>

</div>
