
<% if user_signed_in? %>

  <%= form_with model: @comment, url: category_article_comments_path(@category, @article), class:"form comment-form", local: true do |form| %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.hidden_field :published, value: false %>

  <%= form.label "Ajouter un commentaire"  %>
  <%= form.text_area :content, placeholder: "Votre commentaire" %>

  <%= form.submit "Envoyer", class:"btn btn-back-grey btn-small" %>

  <% end %>

<% else %>
  <p>Pour pouvoir commenter, vous devez vous connecter.</p>
  <div class="comment-buttons">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-back-white" data-bs-toggle="modal" data-bs-target="#signupModal">
      S'inscrire
    </button>

    <button type="button" class="btn btn-back-grey" data-bs-toggle="modal" data-bs-target="#loginModal">
      Se connecter
    </button>

  </div>
<% end %>
