
<% if user_signed_in? %>

  <%= form_with model: @comment, url: category_article_comments_path(@category, @article), class:"form", local: true do |form| %>

    <%= form.hidden_field :article_id, value: "#{params[:article_id]}" %>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <%= form.text_area :content, placeholder: "Votre commentaire" %>

    <%= form.submit "Envoyer" %>

  <% end %>

<% else %>
  <p>Pour pouvoir commenter, vous devez vous connecter.</p>
  <%= button_to "Se connecter", new_user_session_path %>
  <%= link_to "S'inscrire", new_user_registration_path %>
<% end %>
