<!DOCTYPE html>
<html>
  <head>
    <title>Axelbruneau</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </head>

  <body>

    <script>
      $( document ).ready(function() {
        var errorreturn = document.getElementById("errorreturn");
        console.log( "ready!" );
        if ($(".error-message")[0]) {
          var errormessage = document.getElementById("errormessage")
          console.log("class present")
          console.log(errormessage.innerHTML)
          if (((errormessage.innerHTML.includes("commentaire")))
          || ((errormessage.innerHTML.includes("déconnecté")))
          || ((errormessage.innerHTML.includes("L'article a bien été créé")))
          || ((errormessage.innerHTML.includes("Le livre a bien été créé")))) {
            console.log("commentaire");
            console.log("déconnecté");
            errorreturn.classList.add("return-invisible");
          };
        } else {
            console.log("class not present")
            errorreturn.classList.add("return-invisible");
        }
      });
    </script>

    <% flash.each do |type, msg| %>
      <div class="error-message" id="errormessage">
        <%= msg %>
      </div>
    <% end %>

    <div class="return" id="errorreturn">

      <% if user_signed_in? && current_user.admin? %>
        <%= button_to "Retour à l'administration", admin_path, method: "get" %>
      <% else %>
        <%= button_to "Retour à la page précédente", :back, method: "get" %>  
      <% end %>

    </div>

    <% if current_page?(root_path) %>
      <%= render 'layouts/banner-index'  %>
    <% else %>
      <%= render 'layouts/banner-pages'  %>
    <% end %>
    <%= render 'layouts/navbar'  %>

    <%= yield %>

    <%= render 'layouts/footer'  %>

  </body>
</html>
