<!DOCTYPE html>
<html>
  <head>
    <title>Axelbruneau</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </head>

  <body>

    <% if current_page?(root_path) %>
      <%= render 'layouts/banner-index'  %>
    <% else %>
      <%= render 'layouts/banner-pages'  %>
    <% end %>
    <%= render 'layouts/navbar'  %>

    <%= yield %>

  </body>
</html>
