<!DOCTYPE html>
<html>
  <head>
    <title>Axelbruneau</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% if current_page?(root_path) %>
      <%= render 'layouts/banner-index'  %>
    <% else %>
      <%= render 'layouts/banner-pages'  %>
    <% end %>
    <%= render 'layouts/navbar'  %>

    <%= yield %>

  </body>
</html>
